@media (min-width: 768px) and (max-width: 1020px) {

header {
  width: 24vw;
}
#logo img {
  width: 21vw;
}
.title-page {
  margin-bottom: 15px;
  font-size: 2.5vw;
  line-height: 2vw;
}
.list-decimal, .main_nav ul a {
  font-size: 1.2vmax;
  line-height: 2vw;
}
.left_info > .about_work > p:nth-child(2) {
  font-size: 1.2vmax;
}
.main_nav ul a {
  font-size: 1.1vmax;
}
.wrap {
  margin-left: 4.3vw;
}
.info_work_box .left_info .about_work p, .text-kontent p, .info_home_box .left_info .about_home p {
  margin-bottom: 2vw;
}
#filter ul a, .pr_info .text_info, .pr_feat ul li {
  font-size: 1.2vmax;
  line-height: 2vw;
}
#filter > ul > li {
  margin-bottom: 10px;
}
#title_filter, .simvolika, .right_info .pr_info ul li, .right_info .pr_info ul li a {
  font-size: 1.1vmax;
}
blockquote {
  font-size: 1.3vmax;
  line-height: 2vw;
}
.conteiner-content {
  flex-flow: column;
}
.information-activ {
  flex-flow: column;
}
.photo-main {
  margin-bottom: 20px;
}
.pr_text, .pr_gal {
  width: 90%;
}
.pr_text {
  margin-bottom: 35px;
}
table {
  border-collapse: collapse;
  width: 90%;
}
.pr_gal .pr_gal_images div {
  height: 8.06vw;
  width: 8.06vw;
}
.title_info {
  font-size: 2.25vw;
  margin-bottom: 2vw;
  line-height: 2.5vw;
}
.right_info .tags, .about_work p {
  margin-bottom: 2vw;
}
.title_info_title {
  font-size: 2.25vw;
}
.list-roman h2 {
  font-size: 1.4vmax;
  font-weight: 700;
  margin-bottom: 1.3vw;
}
#apparatus > ul > h3, #primary > ul > li > h3 {
  margin-bottom: 1vw;
}
.text-kontent-wrap {
  padding-left: 1vw;
}
li > h3 {
  font-size: 1.1vmax;
}
#info {
  width: 6.68vw;
  height: 6.68vw;
}
#info_box li {
  font-size: 1.1vmax;
  line-height: 2vw;
}
#cop {
  font-size: 1.1vmax;
  line-height: 1.8vmax;
  font-weight: 400;
}
body > main > div > div > div > div.about_work > div > ol {
  font-size: 1.4vmax;
}
#soc_bar img {
  width: 2.25vmax;
  height: 2.25vmax;
}
#soc_bar a {
  margin-left: 1vmax;
}
  .conteiner-content > .text-main {
    width: 100%;
}
}



@media (min-width: 375px) and (max-width: 767px) {

#head {
  width: 65vw;
  left: -65vw;
  transition: left .9s;
  /* display: block; */
}
main {
  padding-left: 0;
  }
.wrap {
  padding-left: 10vw;
}
.burger {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.burger {
  display: block;
  width: 10vw;
  height: 15vh;
  border-radius: 0 30px 30px 0;
  position: absolute;
  left: 65vw;
  top: 50vh;
  z-index: 52;
  background-color: #2f373b;
  box-shadow: 0 0 17px 10px rgb(70 70 70 / 55%);
  opacity: .8;
}
.head-charter {
  justify-content: space-around;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
#filter > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrap-burger {
  height: 100%;
}
.wrap-burger svg {
  margin-left: 3vw;
}
.burger h4 {
  color: #a3a3a3;
  transform:rotateZ(270deg);
}
.info_work_box {
  flex-direction: column;
}
.info_work_box .left_info, .info_work_box .right_info, .info_home_box .right_info, .info_home_box .left_info {
  width: 94%;
}
.line_info {
  display: none;
}
#logo img {
  width: 65vw;
}
.main_nav ul a {
  height: 8vmax;
}
.title-page {
  margin-bottom: 15px;
  font-size: 4.5vw;
  line-height: 5vw;
}
#scroll-start span {
  font-size: 13.5vw;
}
.list-decimal, .main_nav ul a {
  font-size: 3vw;
  line-height: 1.8vmax;
}
.left_info > .about_work > p:nth-child(2) {
  font-size: 1.2vmax;
}
.main_nav ul a {
  font-size: 1.5vmax;
}
.info_work_box .left_info .about_work p, .text-kontent p, .info_home_box .left_info .about_home p {
  margin-bottom: 2vw;
  font-size: 3.5vw;
  line-height: 1.8vmax;
}
#zaslugi {
  font-size: 4.5vw;
}
#filter ul a, .pr_info .text_info, .pr_feat ul li {
  font-size: 3.5vw;
  line-height: 1.9vmax;
}
.pr_info {
  margin-bottom: 3vh;
}
#filter > ul > li {
  margin-bottom: 0px;
}
#title_filter, .right_info .pr_info ul li, .right_info .pr_info ul li a {
  font-size: 1.8vmax;
}
#zadachi {
  font-size: 4.5vw;
  line-height: 2vh;
}
.title_info_title {
  font-size: 4.5vw;
}
.right_info .pr_info ul li {
  margin-top: 3vh;
  line-height: 3vh;
}
.pr_feat ul {
  margin-bottom: 3.5vw;
}
.right_info {
  padding-left: 0px;
}
blockquote {
  font-size: 3.5vw;
  line-height: 1.8vmax;
}
.conteiner-content {
  flex-flow: column;
}
.information-activ {
  flex-flow: column;
}
.photo-main {
  margin-bottom: 20px;
}
.pr_text, .pr_gal {
  width: 90%;
}
.pr_text {
  margin-bottom: 35px;
}
table {
  border-collapse: collapse;
  width: 90%;
}
.info_work_box .left_info .img_box_work {
  height: 17vh;
}
.simvolika {
  font-size: 4vw;
  line-height: 2vh;
}
.right_info .pr_gal .pr_gal_images div, .pr_gal .pr_gal_images div {
  height: 10.06vw;
  width: 10.06vw;
}
.title_info {
  font-size: 4.5vw;
  margin-bottom: 2vh;
  line-height: 5vw;
}
.right_info .tags, .about_work p {
  margin-bottom: 2vw;
  font-size: 3.5vw;
}
.about_work p {
  line-height: 2vmax;
}
.title_info_title {
  font-size: 3.5vw;
}
.tags .list_tags .tag {
  font-size: 2.5vw;
}
.list-roman h2 {
  font-size: 3.7vw;
  font-weight: 700;
  margin-bottom: 4vw;
  line-height: 2vh;
}
ul > h3 {
  line-height: 2vh;
}
.rel_images div {
  width: 50%;
}
.text-kontent-wrap {
  padding-left: 1vw;
}
li > h3 {
  font-size: 3.5vw;
  margin-bottom: .7vh;
  line-height: 2vh;
}
.adress {
  margin-bottom: 2vh;
  line-height: 3vh;
}
#info {
  width: 10.68vw;
  height: 10.68vw;
}
#scroll-start {
  right: 10px;
}
#scroll-start:hover {
  background-color: rgba(45, 184, 185, 0.5);
}
#info_box li {
  font-size: 1.6vmax;
  line-height: 4vw;
  margin-bottom: 4vw;
}
.text-kontent h1 {
  font-size: 4vw;
  font-weight: 700;
  margin-bottom: 5vw;
  line-height: 2.8vh;
  text-align: center;
}
#info_box svg {
  height: 4vw;
  margin-right: 2vw;
}
#cop {
  font-size: 1.2vmax;
  line-height: 1.8vmax;
  font-weight: 400;
}
body > main > div > div > div > div.about_work > div > ol {
  font-size: 3.7vw;
  
}
#soc_bar img {
  width: 2.25vmax;
  height: 2.25vmax;
}
#soc_bar a {
  margin-left: 1vmax;
}
.right_info .tags {
  margin-bottom: 5vw;
  margin-top: 3vw;
}
.right_info .pr_gal {
  margin-top: 4vw;
}
.conteiner-content > .text-main {
  width: 100%;
}
#relaxation .photo-main {
  width: 100%;
}
.info_work_box .left_info .img_box_work {
  margin-bottom: 2vh;
}
.coll_work > .text-kontent-wrap h2 {
  font-size: 3.7vw;
  font-weight: 700;
  margin-bottom: 4vw;
  line-height: 2vh;
}
.coll_work > .text-kontent-wrap li {
  margin-bottom: 2vw;
  font-size: 3.5vw;
  line-height: 2.5vh;
}
.coll-table li a {
  font-size: 4vw;
  line-height: 3.5vh;
}









}




@media (min-width: 320px) and (max-width: 374px) {}